<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2V3N4Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/allec/external/jquery/jquery-1.10.1.min.js"><\/script>')</script>
    <!-- Bootstrap 3-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <div class="wrapper" id="top">
        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
        <div class="top-scroll"><i class="fa fa-angle-up"></i></div>
    </div>
    {{ partial "footer.html" . }}
</body>
</html>