{{ define "main" }}
<div class="promo promo--primary">
    <h3 class="promo__heading">{{ i18n "diydonate1" }}</h3>
    <p class="promo__describe">{{ i18n "diydonate2" }}</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="WQBVBYJ2K4N6J">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit"
            alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form>


</div>


<section class="container">
    <h2 class="heading-cascade"><span class="heading-cascade__step">{{ i18n "diytitle1" }}</span> recalbox</h2>

    <p>{{ i18n "diydesc1" }}</p>
    <p>{{ i18n "diydesc2" }}</p>
    <p>{{ i18n "diydesc3" }}</p>
    <!-- Slider with sidebar -->
    <div class="counter-slider-present max-slider service-slider">

        <div class="col-sm-7 col-md-8 col-lg-9 col-sm-push-5 col-md-push-4 col-lg-push-3 block--full">
            <div class="swiper-container slider-siderbar">
                <div class="swiper-wrapper">
                    <!--Slide-->
                    <div class="swiper-slide" data-heading="{{ i18n "diystep2head" }}"
                        data-text="{{ i18n "diystep2text" }}" data-icon='<i class="fa fa-cloud-download"></i>'>

                        <div class="image-container">
                            {{ partial "img.html" (dict "src" ("images/diy/hardware.jpg" | relURL)) }}
                        </div>
                    </div>
                    <!--Slide-->
                    <div class="swiper-slide" data-heading="{{ i18n "diystep3head" }}"
                        data-text="{{ i18n "diystep3text" }}" data-icon='<i class="fa fa-cogs"></i>'>

                        <div class="image-container">
                            {{ partial "img.html" (dict "src" ("images/diy/diy2.png" | relURL)) }}
                        </div>
                    </div>

                    <div class="swiper-slide" data-heading="{{ i18n "diystep1head" }}"
                        data-text="{{ i18n "diystep1text" }}" data-icon='<i class="fa fa-shopping-cart"></i>'>
                        <div class="image-container">
                                {{ partial "img.html" (dict "src" ("images/diy/snes.png" | relURL)) }}
                        </div>
                    </div>
                    <!--Slide-->


                </div>
                <!--end swiper wrapper-->

                <!-- end slider with sidebar -->
            </div>
            <!--end swiper container-->
        </div>
        <!--end col-->

        <div class="col-sm-5 col-md-4 col-lg-3 col-sm-pull-7 col-md-pull-8 col-lg-pull-9 block--full">
            <div class="slider-siderbar-control">
                <div class="slide-info">
                    <div class="slide-info__icon"></div>
                    <h3 class="slide-info__heading">{{ i18n "threesteps" }}</h3>
                    <p class="slide-info__text"></p>
                </div>
                <a class="prev-arrow" href="#"><i class="fa fa-angle-left"></i></a>
                <div class="slider-siderbar-counter"><span class="current-slide"></span><span class="all-slide"></span>
                </div>
                <a class="next-arrow" href="#"><i class="fa fa-angle-right"></i></a>
            </div><!-- end slider controls-->
        </div>
        <!--end col-->

    </div> <!-- end row  -->
    <!-- end slider with sidebar -->

    <div class="clearfix"></div>

    <div class="service-step service-step--single">

        <div class="service-step__info">
            <span class="service-step__number">01</span>
            <h2 class="service-step__heading">{{ i18n "step1title" }}</h2>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Empty col -->
                </div><!-- end col -->
                <div class="col-sm-3">
                    {{ i18n "componentsneeded" | safeHTML }}
                </div><!-- end col -->

                <div class="col-sm-6">
                    <ul class="list list--bigger">
                        <li>{{ i18n "diyrpi2" }}</li>
                        <li>{{ i18n "diysdcard" }}</li>

                        <li>{{ i18n "diypower" }}</li>
                        <li>{{ i18n "diyhdmi" }}</li>
                        <li>{{ i18n "diyps3control" }}</li>
                        <li>{{ i18n "diybtdongle" }}</li>
                        <li>{{ i18n "diyrpicase" }}</li>
                        <li>{{ i18n "diyusbkeyboard" }}</li>
                    </ul>
                </div><!-- end col -->

            </div><!-- end row -->
            <div class="row">
                <p>
                    {{ i18n "diygotostep2" | safeHTML }}
                </p>
            </div>
        </div>

        <div class="service-step__info service-step__info--bottom">
            <span class="service-step__number">02</span>
            <h2 class="service-step__heading">{{ i18n "step2title" }}</h2>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Empty col -->
                </div><!-- end col -->
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-9">
                            <p>
                                {{ i18n "diyitstime" }}
                            </p>
                            <p>{{ i18n "diyinstall1" }}
                                <a href="https://download.recalbox.com">download.recalbox.com</a>
                                {{ i18n "diyinstall2" }}
                                <a href="https://www.balena.io/etcher">balenaEtcher</a>
                                {{ i18n "diyinstall3" }}<br />
                            </p>
                            <p>{{ i18n "diyinstall4" }}

                            </p>
                            <p>
                                <b>{{ i18n "diyinstall5" }}</b>
                            </p>
                        </div>

                        <div class="col-sm-3">
                            <div class="image-container image-container--max image-container--empty"
                                style="background-color: #34495e;">
                                {{ partial "img.html" (dict "src" ("images/recalboxlogo.png" | relURL)) }}
                            </div>
                        </div>
                    </div>


                </div><!-- end col -->
            </div><!-- end row -->
        </div>

        <div class="service-step__info">
            <span class="service-step__number">03</span>
            <h2 class="service-step__heading">{{ i18n "step3title" }}</h2>

            <div class="row">
                <div class="col-sm-2">
                    <!-- Empty col -->
                </div><!-- end col -->
                <div class="col-sm-5">
                    <p>
                        {{ i18n "diysetup1" }}
                    </p>
                    <p>{{ i18n "diysetup2" }} </p>
                    <p>{{ i18n "diysetup22" }} </p>

                    <p>{{ i18n "diysetup3" | safeHTML }} </p>
                    <p>{{ i18n "diysetup4" }} <a
                            href="https://github.com/recalbox/recalbox-os/wiki/Home-%28{{ i18n "faqLang" }}%29">wiki</a>
                        {{ i18n "diysetup5" }} </p>
                    <p>{{ i18n "diyshare" }} <a
                            href="https://forum.recalbox.com/topic/7/your-recalbox-vos-recalbox">https://forum.recalbox.com/topic/7/your-recalbox-vos-recalbox</a>
                    </p>
                </div><!-- end col -->

                <div class="col-sm-5">
                    <div class="promo promo--border promo-space">
                        <h3 class="promo__heading">{{ i18n "diysetup6" }} </h3>
                        <a class="btn btn-warning btn--decorated promo__btn"
                            href="https://github.com/recalbox/recalbox-os/wiki/Home-%28{{ i18n "faqLang" }}%29">WIKI</a>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div>

    </div><!-- end service step -->

</section> <!-- end container -->

<!-- Colored devider -->
<div class="devider-color bottom-space--md"></div>

<script>
    $(document).ready(function () {
        sliderSidebarFull();
    });
</script>

{{ end }}
