<div>
    {{ if (isset .Params "author" ) }}
    <a class="tags__link" href="#">{{ i18n "byAuthor" }} {{ .Params.author.name }}</a>
    {{ if (isset .Params.author "twitter" ) }}
    <a href="{{ .Params.author.twitter }}"><i class="fa fa-twitter"> </i></a>
    {{ end }}
    {{ if (isset .Params.author "facebook" ) }}
    <a href="{{ .Params.author.facebook }}"><i class="fa fa-facebook"> </i></a>
    {{ end }}
    {{ if (isset .Params.author "github") }}
    <a href="{{ .Params.author.github }}"><i class="fa fa-github"> </i></a>
    {{ end }}
    {{ if (isset .Params.author "gitlab") }}
    <a href="{{ .Params.author.gitlab }}"><i class="fa fa-gitlab"> </i></a>
    {{ end }}
    {{ end }}
    {{ if (isset .Params "translator" ) }}
    (
    <a class="tags__link" href="#">{{ i18n "translatedBy" }} {{ .Params.translator.name }}</a>
    {{ if (isset .Params.translator "twitter" ) }}
    <a href="{{ .Params.translator.twitter }}"><i class="fa fa-twitter"> </i></a>
    {{ end }}
    {{ if (isset .Params.translator "facebook" ) }}
    <a href="{{ .Params.translator.facebook }}"><i class="fa fa-facebook"> </i></a>
    {{ end }}
    {{ if (isset .Params.translator "github") }}
    <a href="{{ .Params.translator.github }}"><i class="fa fa-github"> </i></a>
    {{ end }}
    {{ if (isset .Params.translator "gitlab") }}
    <a href="{{ .Params.translator.gitlab }}"><i class="fa fa-gitlab"> </i></a>
    {{ end }}
    )
    {{ end }}
</div>